/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('/Gotham\ Medium/Gotham \Medium.otf');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('/Gotham\ Light/Gotham \Light.otf');
}

html{
  scroll-behavior: smooth;
}

/* sections */
.section1{
  position: absolute;
  width: 1280px;
  height: 740px;
  background: url('/images/model-3-hero-desktop.jpeg') no-repeat center center/cover; 
}


.section2{
  position: absolute;
  top: 740px;
  width: 1280px;
  height: 721px;
}


/* logo */
#logo{
  position: relative;
  z-index: 2;
  margin-left: 20px;
  width: 100px;
  height: 52px;
  float: left;
  cursor: pointer;
  background: transparent;;
}

#logo svg{
  margin: 14px 0;
  width: 100px;
  height: 24px;
}

.tesla{
  fill: white;
}

/* HEADER1 */
#header1{
  position: absolute;
  width: 1280px;
  height: 48px;
  background: transparent;
  font-family: "Gotham Medium";
  color: #ffffff;
  font-style: normal;
  font-size: 40px;
  letter-spacing: -0.6px;
  font-weight: 900;
  text-align: center;
  line-height: 48px;
  margin-top: 5px;
  top: 111px;
  margin-left: -5px;
}

/* Nav-Bar */
.navbar{
  position: absolute;
  z-index: 1;
  width: 1280px;
  height: 52px;
  background: transparent;
  font-family: "Gotham Medium";
  font-weight: 900;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 0.4px;
}

.navbar ul{
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.navbar ul li{ 
  float:left;
  margin: 19px 0;
}

.navbar ul li a{
  font-size: 14px;
  margin: 0 10px;
  text-decoration: none;
  width: 100%;
  text-align: justify;
  color: #ffffff;
}

.navbar .navbar_middle{
  width: 621.86px;
  margin: 0 auto;
}

.navbar .navbar_right{
  z-index: 1;
  float: right;
  width: 223.86px;
  padding: 0px 0 0px 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* burger menu */
.navbar_burger_container{
  position: relative;
  float: right;
  width: 52px;
  height: 50px;
}

.navbar_burger{
  position: absolute;
  width: 18px;
  height: 12px;
  margin-top: 20px;
  margin-left: 7px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar_burger span{
  opacity: 1;
  width: 18px;
  height: 2px;
  font-weight: 400;
  font-family: "Gotham Medium";
  background: #ffffff;
}

/* Side Bar */
.side_bar_container{
  position: relative;
  z-index: 2;
  left: 14px;
  top: 22.5vh;
  width: 52px;
}

.sidebar{
  position: absolute;
  width: 60px;
  height: 246px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side_bar_container span{
  opacity: 1;
  width: 0.5px;
  height: 23px;
  font-weight: 400;
  font-family: "Gotham Medium";
  background: #757575;


  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#current{
  width: 3px;
  background: #ffffff;
}

#current2{
  width: 3px;
  background: black;
}

/* page 1 down details */
.bottom1{
  position: absolute;
  margin-top: 590px;
  width: 1280px;
  height: 116px;
}

.text_box_container{
  position: relative;
  margin: 0 auto;
  height: 90px;
  width: 47%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom1 .text_box{
  float: left;
  background: transparent;
  font-family: "Gotham Medium";
  font-weight: 900;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 0.4px; 
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.top{
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
  font-weight: 900; 
}

.bottom1 .text_box_seperator{
  margin-top: -12px;
  width: 0.5px;
  height: 65px;
  font-weight: 400;
  font-family: "Gotham Medium";
  background: white;
}

.btn{
  height: 40px;
  width: 160px;
  padding-left: 15px;
}

.btn_order{
  font-family: "Gotham Medium";
  height: 40px;
  width: 160px; 
  color: #ffffff;
  border-radius: 20px; 
  border-color: white;
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  border-width: 3px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 900;
  letter-spacing: 0.4px;
}

.btn_order:hover{
  background-color: #ffffff;
  color: black;
  transition: 0.6s;
}

.speed_logo{
  position: relative;
  width: 40px;
  height: 25px;
}

.speed_logo1{
  position: absolute;
  top: 6px;
  z-index: 1;
  width: 41px;
  height: 21px;
}

.speed_logo1 svg{
  fill: white;
}

.speed_logo2{
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 5.5px;
  width: 28px;
  height: 14px;
}

.speed_logo2 svg{
  fill: white;
  fill-opacity: 0.3;
}

.speed_logo3{
  position: absolute;
  float: left;
  z-index: 1;
  top: 19.6px;
  left: 26px;

  width: 4px;
  height: 1px;
}

.speed_logo3 svg{
  transform: rotate(90deg);
  fill: white;
  transform-origin: 50% 50%;
}

.top31s{
  position: absolute;
  left: 50px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.zerotosixtee{
position: relative;
top: 10px;
}

/* SECTION 2 */

#logo2{
  position: relative;
  z-index: 2;
  margin-left: 20px;
  width: 100px;
  height: 50px;
  float: left;
  cursor: pointer;
  background: transparent;;
}

#logo2 svg{
  margin: 10px 0;
  width: 104px;
  height: 26px;
}

.tesla2{
  fill: rgb(57, 60, 65);
}

.page2_left{
  background-color: white;
  position: relative;
  width: 415px;
  height: 670px;
  margin: 0;
}

.page2_right{
  position: absolute;
  top: -378px;
  left: 365px;
  width: 865px;
  height: 721px;
  background: url('/images/section2cover.png') no-repeat center center/cover;
  background-size: 1124.5px 705px;
  background-position: left -248px top 34px;
  background-color: #f4f4f4;
  
}

.safety{
  position: absolute;
  left: 50px;
  font-weight: 500;
  font-size: 17px;
  font-family: "Gotham Light";
  color: #171a20;
}

.safety_bottom{
  position: absolute;
  top: 18px;
  left: 50px;
  font-weight: 900;
  font-size: 29px;
  line-height: 34px;
  color: #171a20;
  font-family: 'Gotham Medium';
}

.safety_p{
  position: absolute;
  top: 180px;
  left: 50px;
  width: 315px;
  height: 200px;

  letter-spacing: 0.4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Gotham Medium";
  color: #393c41;
}

.table_container{
  position: absolute;
  top: 378px;
  left: 50px;
  width: 315px;
  height: 267px;
  background-color: rgb(238, 238, 238);
  border-radius: 30px;
}

.table_title{
  position: absolute;
  height: 72px;
  width: 267px;
  color: #171A20;
  font-family: 'Gotham Medium';
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-left: 46px;
  padding-top: 26px;
  letter-spacing: 0.25px;
  padding-bottom: 16px;
}

.table_cell{
  position: relative;
  width: 267px;
  height: 29px;
}

.table_small{
  position: relative;
  left: 0;
  font-family: 'Gotham Medium';
  font-size: 6px;
  line-height: 10px;
}

.table_big{
  position: absolute;
  left: -22px;
  top: 14px;
  font-family: 'Gotham Medium';
  color: #393c41;
  font-size: 16px;
  line-height: 21px;
  font-weight: 900;
}

.table_star{
  position: absolute;
  left: 140px;
  top: 14px;
  font-family: 'Gotham Medium';
  color: #393c41;
  font-size: 16px;
  line-height: 21px;
  font-weight: 900;
}

.btn_order2{
  position: absolute;
  top: 232px;
  left: 150px;
  font-family: "Gotham Medium";
  height: 40px;
  width: 160px; 
  color: black;
  border-radius: 20px; 
  border-color: black;
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  border-width: 3px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 900;
  letter-spacing: 0.4px;
}

.btn_order2:hover{
  background-color: black;
  color: white;
  transition: 0.6s;
}

.learn_more{
  position: absolute;
  top: 239px;
  left: 49px;
  
  font-family: 'Gotham Medium';
  color: #393c41;
  font-size: 12px;
  line-height: 21px;
  font-weight: 900;
} 




.pointer{
  z-index: 4;
  position: absolute;
  left: 178px;
  top: 356px;
  width: 9px;
  height: 9px;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}

.pointer_line{
  z-index: 4;
  position: absolute;
  left: 181px;
  top: 137px;
  width: 3px;
  height: 220px;
  background-color: black;
}

.pointer_text{
  z-index: 4;
  position: absolute;
  left: 192px;
  top: 130px;

  font-family: 'Gotham Medium';
  color: black;
  font-size: 14px;
  line-height: 21px;
  font-weight: 900; 
}


/* btn footer */
.btn_footer{
  position: relative;
  top: 670px;
  width: 1280px;
  height: 116px;
    
  margin: 0 auto;
  width: 20px;
  
}

.btn_footer label{
  width: 22px;
 height: 16px;
}

.btn_footer label svg{
  transform: rotate(180deg);
  fill: white;
  transform-origin: 50% 50%;
}


.button_corner{
  z-index: 1;
  position: relative;
  top: -37px;
  left: 1238px;
  height: 50px;
  width: 20px;
}

.button_corner label{
  width: 22px;
 height: 16px;
}

